.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headingIcon {
    height: 45px;
}

.headingIcon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.headingText {
    font-family: var(--secondary);
    font-size: 30px;
}

.plates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
