.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    background-color: var(--grey);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--grey);
}

.button {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
